<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>



   

    <section class="login-section">



    <div class="container-login" id="main">
        <div class="sing-up">
            <form action="/cadastra" method="POST">
                       <h1>Crie sua conta</h1>
                       <div class="social-container">
                        <a href="#" class="social"><i class="ri-google-fill"></i></a>
                        <a href="#" class="social"><i class="ri-facebook-fill"></i></a>
                       </div>
                       <p>Coloque email e senha</p>
                        <input type="email" name="email" placeholder="Digite seu e-mail" required>
                        <input type="senha" name="senha" placeholder="Digite sua senha" required>
                        <button type="submit">Cadastrar</button>
                 
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-acess">
                <h1>Ja tem conta?</h1>
                <p>Entre pra começar</p>
                <button id="singUp"> <a href="/login" class="login__forgot">Faça login agora</a></button>
            </div>
        </div>
        </div>
    </div>
    
    </div>
    </section>
</body>
</html>
