<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    <h2>Cadastro</h2>
    <form action="/cadastra" method="POST">

        <input type="email" name="email" placeholder="Digite seu e-mail" required>
        <input type="senha" name="senha" placeholder="Digite sua senha" required>
        <button type="submit">Cadastrar</button>
    </form>
    <p>Já tem uma conta? <a href="/login">Faça login</a></p>
</body>
</html>
