<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site</title>
    <!--Favicon-->
    <link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon">
    <!--REMIXICONS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.min.css">
    <!--CSS -->
    <link rel="stylesheet" href="/css/style.css">
   


</head>
<body>
    <!--header-->
    <header class="header" id="header">
        <nav class="nav container">
            <a href="#" class="logo">
                <div>
                    <img src="../img/logo-removebg-preview.png" alt="logo" >
                </div>

                NetMakers
            </a>
     <!--menu-->
            <div class="nav_menu" id="nav_menu">
                <ul class="nav_list">
                    <li>
                        <a href="#home" class="nav_link active-link">ínicio</a>
                    </li>

                    <li>
                        <a href="#site-apresentacao" class="nav_link">Sites</a>
                    </li>

                    
                    <li>
                        <a href="#popular" class="nav_link">populares</a>
                    </li>

                    <li>
                        <a href="#sobre" class="nav_link">sobre</a>
                    </li>

                    <li>
                        <a href="#concact" class="nav_link">contato</a>
                    </li>
                    
                    
                    <div class="nav-close" id="nav-close">
                        <i class="ri-close-large-line"></i>
                    </div>
                </div>
                     <!--alterna bnt-->
                     <div class="nav_alterna" id="nav_alterna">
                        <i class="ri-apps-2-fill"></i>
                    </div>
        
                </ul> 

              

               


                
           
           

          
        </nav>

    </header>
    <!--main-->
    <main class="main">
      <section class="home section" id="home">
         <div class="home_container container grid">
            <div class="home_data">
                <h1 class="home_title">Love every <br> burger</h1>

                <p class="home_descri">Lorem ipsum dolor sit amet. Ab autem quisquam ea obcaecati veritatis non accusamus expedita ea voluptatem unde nam nemo earum hic perspiciatis magnam eum fugiat sunt! Eum excepturi libero quo rerum ipsam non vitae voluptate id aperiam inventore. Et asperiores labore non quas officiis sed</p>

                <a href="#popular" class="button">Click</a>
            </div>

            <div class="home_img">
                <img src="../img/logo-marca (2).png" alt="" class="imagem_site">

                <img src="../img/cb1-removebg-preview.png" alt="" class="cubo-desing home_cubo-1">
                <img src="../img/cb2-removebg-preview.png" alt="" class="cubo-desing home_cubo-2">
                <img src="../img/cb3-removebg-preview.png" alt="" class="cubo-desing home_cubo-3">
                <img src="../img/cb4-removebg-preview.png" alt="" class="cubo-desing home_cubo-4">
                <img src="../img/cb4-removebg-preview.png" alt="" class="cubo-desing home_cubo-5">
                <img src="../img/cb3-removebg-preview.png" alt="" class="cubo-desing home_cubo-6">
            </div>
         </div>

      </section>


      <!--=====parte-de-apresentação=====-->

      <section class="site-apresentacao section" id="site-apresentacao">
          <h2 class="section_title">Site que já criamos.</h2>

          <div class="apresen_container container grid">
            <div class="apresentacao_image">
                <img src="../img/imagem-de-aparesentação.png" alt="image" class="apresentacao_img" >
            </div>

            <div class="apresen_data">
                <div class="apresen_card">
                    <div class="apresen_box">
                        <i class="ri-git-repository-private-line"></i>
                    </div>

                    <div>
                        <h3 class="apresen_tittle">Segurança</h3>
                            <p class="apresen_des">A Segurança do site e feita com bastante cuidado pelos nossos programador</p>
                        
                    </div>
                </div>



                <div class="apresen_card">
                    <div class="apresen_box">
                        <i class="ri-window-line"></i>
                    </div>
                   
                    <div>
                        <h3 class="apresen_tittle">Site Responsivos</h3>
                            <p class="apresen_des">Cada site nosso e responsiveis e completos</p>
                        
                    </div>
                </div>



                <div class="apresen_card">
                    <div class="apresen_box">
                        <i class="ri-javascript-line"></i>
                    </div>

                    <div>
                        <h3 class="apresen_tittle">Linguagens</h3>
                            <p class="apresen_des">Usamos vazias Linguagens de programação</p>
                        
                    </div>
                </div>



                <div class="apresen_card">
                    <div class="apresen_box">
                        <i class="ri-chat-1-line"></i>
                    </div>

                    <div>
                        <h3 class="apresen_tittle">Suporte</h3>
                            <p class="apresen_des">Sempre estaremos tirando suas duvidas em nossa plataforma</p>
                       
                    </div>
                </div>
                
            </div>
          </div>
      </section>


         <!--=====parte-de-popular=====-->
      <section class="popular section" id="popular">
        <h2 class="section_title">Nossos site mais<br>populares</h2>

        <div class="popular_container container grid">
            <article class="popular_card">
                <img src="../img/ima-site-2.png" alt="image" class="popular_img">

                <h2 class="popular_title">Site De empresas</h2>
                <span class="popular_price">Empresas</span>

                <button class="popular_bnt">
                    <i class="ri-shopping-bag-3-fill"></i>
                </button>
            </article>


            <article class="popular_card">
                <img src="../img/ima-site-3.png" alt="image" class="popular_img">

                <h2 class="popular_title">Sites delivery</h2>
                <span class="popular_price">Restaurante</span>

                <button class="popular_bnt">
                    <i class="ri-shopping-bag-3-fill"></i>
                </button>
            </article>


            <article class="popular_card">
                <img src="../img/ima-site-1.png" alt="image" class="popular_img">

                <h2 class="popular_title">Sites para vendas</h2>
                <span class="popular_price">Marketing</span>

                <button class="popular_bnt">
                    <i class="ri-shopping-bag-3-fill"></i>
                </button>
            </article>


            <article class="popular_card">
                <img src="../img/sites-popular.png" alt="image" class="popular_img">

                <h2 class="popular_title">Sites para apresentações</h2>
                <span class="popular_price">Portfólios</span>

                <button class="popular_bnt">
                    <i class="ri-shopping-bag-3-fill"></i>
                </button>
            </article>



        </div>
      </section>



         <!--=====parte-de-sobre-os-sites=====-->
      <section class="sobre section" id="sobre">
        <div class="sobre_container container grid">
            <div class="sobre_data">
                <h2 class="section_title">Nossos sites são totalmente <br>personalizados</h2>

                <p class="sobre_des">
                    Lance ou aprenda sobre as soluções pré-configuradas, desenvolvidas por especialistas do Google Cloud, para ajudar você a criar sites de varejo,
                     apps da Web dinâmicos e outros casos de uso de hospedagem na Web.
                </p>


                <a href="#concact" class="button">Contato</a>

                
            </div>
            <img src="../img/parte-sobre.png" alt="" class="hosperdar_img">
        </div>
      </section>



      <section class="concact section" id="concact">
        <div class="concact_container container grid">
            <h2 class="section_title_apre">Converse com a gente <br>agora!</h2>

            <div class="contact_contect grid">
                <div class="contact_data grid">
                     <div>
                        <h3 class="contact_title">Nossos contatos</h3>

                        <div class="concact_social">
                         
                            <a href="#" target="_blank">
                                <i class="ri-whatsapp-line"></i>
                            </a>

                            <a href="#" target="_blank">
                                <i class="ri-instagram-line"></i>
                            </a>

                            <a href="#" target="_blank">
                                <i class="ri-github-fill"></i>
                            </a>
 
                            <a href="#" target="_blank">
                                <i class="ri-mail-line"></i>
                            </a>
                        </div>
                     </div>

                     <div>
                        <h3 class="concact_title">Ligue para nossa empresa</h3>

                        <address class="concact_info">
                           +55 33 9999-9999 <br>
                           +55 33 8899-9999
                        </address>
                     </div>

                     <div>
                        <h3 class="concact_title">Nosso endereço</h3>

                        <address class="concact_info">
                            Centro - Araçuaí <br>
                            Perto da help
                        </address>
                     </div>

                     
                </div>

                <div class="contact_image">
                 <img src="../img/img-contato-removebg-preview.png" class="contact_img" alt="">
                </div>
            </div>


        </div>
      </section>
    </main>








    <!--===========================footer--===========================-->
    <footer class="footer ">
        <div class="footer_container container grid">
            <a href="#" class="footer_logo">Tecnológia</a>

            <div class="footer_content grid">
               <a href="" class="footer_link">Termos e condições</a>
               <a href="" class="footer_link">Privacidade política</a>

               <div class="footer_social">
                <a href="" target="_blank">
                    <i class="ri-github-line"></i>
                </a>

                <a href="" target="_blank">
                    <i class="ri-instagram-fill"></i>
                </a>

                <a href="" target="_blank">
                    <i class="ri-facebook-line"></i>
                </a>
               </div>
            </div>
        </div>

        <span class="footer_copy">
            &#169; Todos os diretos foram feito pelo desenvolvedor
        </span>
    </footer>
  
    <!--===========================Scroll--===========================-->
    <a href="#" class="scrollup" id="scroll-up">
        <i class="ri-arrow-up-line"></i>
    </a>
     <!--===========================Scrollreveal--===========================-->
    <script src="../js/scrollreveal.min.js"></script>


    <!--MAIN JS-->
    <script src="../js/javaScript.js"></script>
</body>
</html>