/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Aclonica&family=Montserrat:wght@100..900&display=swap");


:root {
  --header-height: 3.5rem;

  /*cores*/
  --first-color: hsl(0, 99%, 55%);
  --first-color-alt: hsl(45, 99%, 48%);
  --second-color: hsl(22, 100%, 8%);
  --white-color: hsl(34, 100%, 96%);
  --title-color: hsl(22, 100%, 8%);
  --text-color: hsl(22, 24%, 32%);
  --text-color-light: hsl(23, 16%, 40%);
  --body-color: hsl(34, 100%, 92%);
  --body-color-alt: hsl(34, 100%, 88%);
  --container-color: hsl(34, 100%, 96%);
  --shadow-small-img: drop-shadow(0 4px 16px hsla(22, 100%, 8%, .2));
  --shadow-big-img: drop-shadow(0 8px 24px hsla(22, 100%, 8%, .2));


  --body-font: "Montserrat", sans-serif;
  --second-font: "Aclonica", sans-serif;
  --biggest-font-size: 3rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;


  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;


  --z-tooltip: 10;
  --z-fixed: 100;
}
@media screen and (min-width: 1150px) {
    :root {
      --biggest-font-size: 4.5rem;
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
    }
  }
  
  /*=============== BASE ===============*/
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
html {
    scroll-behavior: smooth;
}

body{
    font-family: var(--first-color);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}


h1,h2,h3,h4 {
    color: var(--title-color);
    font-family: var(--second-color);
    font-weight: var(--font-regular);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

.container{
    max-width: 1120px;
    margin-inline: 1.5rem;
}

.grid{
    display: grid;
    gap: 1.5rem;
}

.section{
    padding-block: 5rem 1rem;
}

.section_title{
    text-align: center;
    font-size: var(--h1-font-size);
    margin-bottom: 2rem;

    font-size: var(--h1-font-size);
    font-family: var(--second-font);
    color: var(--title-color);
}

.main{
    overflow: hidden;
}

/*=============== HEADER & NAV ===============*/
.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--body-color);
    z-index: var(--z-fixed);
    transition: box-shadow .4s;
}

.nav{
    position: relative;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
    column-gap: .5rem;
    font-family: var(--second-font);
    color: var(--title-color);
}

.logo img{
    width: 25px;
}


.logo div{
    background-color: var(--first-color);
    padding: 6px;
    border-radius: .5rem;
}

.nav_alterna,
.nav-close{
    display: flex;
    font-size: 1.5rem;
    color: var(--title-color);
    cursor: pointer;
}


@media screen and (max-width: 1150px){
    .nav_menu{
        position: fixed;
        top: -100%;
        left: 0;
        background-color: var(--body-color);
        width: 100%;
        padding-block: 4.5rem 3.5rem;
        box-shadow: 0 4px 16px hsla(22, 100%, 8%, .2);
        transition: top .4s; 
    }
}

.nav_list{
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.nav_link{
    position: relative;
    color: var(--title-color);
    font-family: var(--second-font);
}

.nav_link::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: var(--first-color);
    position: absolute;
    left: 0;
    bottom: -.5rem;
    transition: width .3s;
}

.nav_link:hover::after{
    width: 60%;
}

.nav-close{
    position: absolute;
    top: 1rem;
    right: 1.rem;
}

.show-menu{
    top: 0;
}

/*home*/
.home_container{
    padding-block: 3rem 3rem;
    justify-content: center;
    row-gap: 3.5rem;
}

.home_data{
    position: relative;
    text-align: center;
}

.home_title{
    font-size: var(--biggest-font-size);
    margin-bottom: 1rem;

}
/*===shadow header===*/
.shadow-header{
    box-shadow: 0 4px 16px hsla(22, 100%, 8%, .1);
}
.home_descri{
    margin-bottom: 2.5rem;
}

.button{
    display: inline-flex;
    background-color: var(--first-color);
    color: var(--title-color);
    padding: 1rem 1.5rem;
    font-family: var(--second-color);
    border-radius: 4rem;
    transition: box-shadow .4s;
}

.home_img{
    position: relative;
    display: grid;
    justify-items: center;
    justify-self: center;
}
/*====== cubos====== */

.cubo-desing{
   width: 60px;
   filter: var(--shadow-big-img);
   position: absolute;
   z-index: 2;
}

.imagem_site{
    filter: var(--shadow-big-img);

}
.imagem_site{
    width: 280px;
    z-index: 2;
}

.home_cubo-1{
    left: -1rem;
    top: .75rem;
}
.home_cubo-2{
   right: -.75rem;
   bottom: -2rem;
   rotate: 90deg;
}
.home_cubo-3{
   width: 40px;
   top: -1rem;
   right: 6rem;
}
.home_cubo-4{
    width: 40px;
    left: 5.5rem;
    bottom: -1.5rem
}
.home_cubo-5{
    top: 2.5rem;
    right: -2rem;
    transform: scaleX(-1);
}
.home_cubo-6{
    left: -2rem;
    bottom: 1rem;
}
/*====== Button====== */
.button:hover{
    box-shadow: 0 8px 24px hsla(22, 100%, 8%, .2);
}




/*======apresentação====== */

.site-apresentacao{
   overflow: hidden;
}

.apresen_container{
grid-template-columns: .5fr 1fr;
column-gap: 1rem;
padding-bottom: 2rem;
}

.apresentacao_image{
    position: relative;
    display: grid;
    place-items: center;
}

.apresentacao_img{
    position: absolute;
    max-width: initial;
    width: 470px;
    left: -13rem;
    filter: var(--shadow-big-img);
}

.apresen_data{
    display: grid;
    row-gap: 2rem;

}

.apresen_card{
    display: flex;
    align-items: center;
    column-gap: .5rem;
}

.apresen_box{
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    background-color: var(--first-color);
    border: 3px solid var(--container-color);
    border-radius: .75rem;
    display: grid;
    place-items: center;
}

.apresen_box i{
    color: var(--white-color);
    filter: var(--shadow-small-img);
}

.apresen_tittle{
    font-size: var(--normal-font-size);
    margin-bottom: .5rem;
}

.apresen_des{
    font-size: var(--small-font-size);
}

.apresen_card:nth-child(even) .apresen_box{
    order: 1;
}




/*======populares====== */

.popular{
    background-color: var(--body-color-alt);
}

.popular_container{
    padding-block: 2rem;
    grid-template-columns: repeat(2, 1fr);
    gap: 3.5rem 1.5rem;
}


.popular_card{
    position: relative;
    background-color: var(--first-color);
    padding: 6rem .75rem 1rem;
    border-radius: 1rem;
    border: 4px solid var(--container-color);
}

.popular_img{
    position: absolute;
    top: -2rem;
    left: 0;
    right: 0;
    width: 120px;
    margin: 0 auto;
    filter: var(--shadow-big-img);
    transition: transform .4s;

}

.popular_title{
    font-size: var(--normal-font-size);
    margin-bottom: .75rem;
}

.popular_price{

    color: var(--title-color);
    font-family: var(--second-color);
    font-size: var(--h2-font-size);
}

.popular_bnt{
    position: absolute;
    right: .75rem;
    bottom: 1rem;
    outline: none;
    background-color: var(--second-color);
    color: var(--white-color);
    padding: 6px;
    border-radius: 5px;
    font-size: 0.75rem;
    display: inline-flex;
    cursor: pointer;
}

.popular_card:hover .popular_img{
    transform: translateY(-.5rem);
}


/*======Sobre====== */


.sobre_container{
    row-gap: 2.5rem;
}

.sobre_data{
    position: relative;
    text-align: center;
}

.sobre_container .section_title{

   font-size: var(--h1-font-size);
   font-family: var(--second-font);
   color: var(--title-color);
}

.sobre_des{
    margin-bottom: 2rem;
}

.hosperdar_img{
    width: 320px;
    justify-content: center;
    filter: var(--shadow-big-img);

}


/*======contato====== */

.concact_container{
    position: relative;
    background-color: var(--second-color);
    padding-top: 3.5rem;
    border-radius: 3rem;
    overflow: hidden;
}

.contact_contect{
    row-gap: 3rem;
}
.contact_title{
    font-size: var(--h2-font-size);
    color: var(--white-color);
}

.contact_contect,
.concact_title,
.concact_info{
    color: var(--white-color);
   
}
.section_title_apre{
    color: white;
    text-align: center;
    font-size: var(--h1-font-size);
    margin-bottom: 2rem;
    
   
}
.contact_data{
    text-align: center;
    row-gap: 2rem;
}

.concact_title{
    font-size: var(--h2-font-size);
    margin-bottom: .75rem;
}

.concact_social{
    display: flex;
    justify-content: center;
    column-gap: 1rem;
}

.concact_social a{
    width: 32px;
    height: 32px;
    background-color: var(--first-color);
    color: var(--second-color);
    font-size: 1.5rem;
    border-radius: .5rem;
    display: grid;
    place-items: center;
    transition: transform .4s;
}

.concact_social a:hover{
    transform: translateY(-.25rem);
}

.concact_info{
    font-size: normal;
}

.contact_image{
    justify-self: center;
}

.contact_img{
    width: 380px;
}


/*========================Footer======================== */


.footer{
    padding-left: 3rem 2rem;
}

.footer_container{
    row-gap: 2rem;
}

.footer_logo{
    font-size: var(--h1-font-size);
    font-family: var(--second-font);
    color: var(--title-color);
    justify-self: center;

}

.footer_content{
    grid-template-columns: repeat(2, max-width);
    justify-content: center;
}

.footer_link{
    color: var(--text-color);
}

.footer_social{
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
    column-gap: 1rem;
}


.footer_social a {
    width: 32px;
    height: 32px;
    background-color: var(--first-color);
    font-size: 1.5rem;
    border-radius: .5rem;
    display: grid;
    place-items: center;
    transition: transform .4s;
    color: var(--white-color);
}

.footer_social a:hover{
    transform: translateY(-.25rem);
}


.footer_copy{
    display: block;
    text-align-last: center;
    font-size: var(--small-font-size);
    margin-top: 3.5rem;
}



/*========================SCROLL BAR======================== */

::-webkit-scrollbar{
    width: .6rem;
    background-color: hsl(34, 16%, 75%);
}

::-webkit-scrollbar-thumb{
 background-color: hsl(34, 16%, 65%);
}

::-webkit-scrollbar-thumb:hover{
    background-color: hsl(34, 16%, 55%);
   }
/*========================SCROLL UP======================== */
.scrollup{
   position: fixed;
   right: 1rem;
   bottom: -50%;
   background-color: var(--body-color);
   box-shadow: 0 4px 16px hsla(22, 100%, 8%, .2);
   color: var(--title-color);
   display: inline-block;
   padding: 6px;
   font-size: 1.25rem;
   border-radius: .35rem;
   z-index: var(--z-tooltip);
   transition: bottom .4s, transform .4s;
}

.scrollup:hover{
    transform: translateY(-.15rem);
}


/*Show Scroll up*/
.show-scroll{
    bottom: 3rem;
}

/*Active link*/
.active-link::after{
    width: 60%;
}



/*========================pontos de interrupção======================== */



/*Dispositivos pequenos*/

@media screen and (max-width: 330px){
     /*início*/
      .container{
        margin-inline: 1rem;
      }
      .home_title{
        -webkit-flow-into: 2.rem;
      }
      .imagem_site{
        width: 210px;
      }

      /*Apresentação*/
      .apresen_container{
        column-gap: 5rem;
      }
      .apresentacao_img{
        left: -12rem;
      }

       /*Popular*/
      .popular_container{
        grid-template-columns: 160px;
        justify-content: center;
      }

       /*Social*/
       .footer_social{
        grid-column: 1;
       }
       .footer_content{
        grid-template-columns: 1fr;
        justify-items: center;
       }


}


/*Dispositivos medios*/

@media screen and (max-width: 540px){
      /*início*/
    .home_container,
    .sobre_container{ /*sonre container*/
        grid-template-columns: 360px;
        justify-content: center;
    }  
    /*Apresentação*/
    .apresentacao_img{
        left: -8rem; 
    
    }
    .apresen_container{
        grid-template-columns: 200px 230px;
        justify-content: center;
        column-gap: 3rem;
    }
    
   /*Popular*/
    .popular_container{
        grid-template-columns: repeat(2. 160px);
        justify-content: center;
    }

    .contact_contect{
        min-width: 500px;
        margin: 0 auto;
    }

}

@media screen and (max-width: 768px){
    .popular_container{
   grid-template-columns: repeat(4, 160px);
    }

    .footer_social{
        grid-column: initial;
    }

    .footer_content{
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
    }
    .footer_link:nth-child(1){
        justify-self: start;
    }

    .footer_link:nth-child(2){
        order: 2;
        justify-self: end;
    }
    
    .sobre_container{ /*sobre container*/
        grid-template-columns: 360px;
        justify-content: center;
    }  
}
/*Dispositivos grandes*/
@media screen and (max-width: 1153px){
   .container{
    margin-inline: auto;
   }

   .section{
    padding-block: 7rem 2rem;
   }

   .section_title{
    margin-bottom: 4.5rem;
   }
   .sobre_container{ /*sobre container*/
    grid-template-columns: 360px;
    justify-content: center;
}  

   .nav{
    height: calc(var(--header-height) + 2rem);
   }
   .nav_alterna,
   .nav-close{
    display: none;
   }
   .nav_list{
    flex-direction: row;
    column-gap: 4rem;
   }


   .home_container{
    grid-template-columns: 430px 605px;
    align-items: center;
    column-gap: 4rem;
    padding-block: 7rem 4rem;
   }
   .home_data{
    text-align: center;
   }

   .home_descri{
    margin-bottom: 2.5rem;
    padding-left: 2rem;
   }

   .imagem_site{
    width: 450px;
   }

   .cubo-desing{
    width: 100px;
   }
   .home_cubo-1{
    left: -2rem;
    top: 1.5rem;
   }
   .home_cubo-2{
    right: -1.5rem;
    bottom: -3rem;
   }
   .home_cubo-3{
    width: 70px;
    top: -1.5rem;
    right: 10rem;
   }
   .home_cubo-4{
    width: 70px;
    left: 9.5rem;
    bottom: -2.5rem;
   }
   .home_cubo-5{
    top: 4rem;
    right: -3.5rem;
   }
   .home_cubo-6{
    left: -3.5rem;
    bottom: 2rem;
   }


   .apresen_container{
    grid-template-columns: 350px 300px;
    column-gap: 8rem;
    padding-bottom: 3rem;
   }
   .apresentacao_img{
    left: 2rem;
    width: 620px;
  }
  .apresen_card{
    column-gap: 1rem;
  }
  .apresen_box{
    width: 90px;
    height: 90px;
    border-radius: 1.25rem;
    border-width: 5px;
  }
  .apresen_box img{
    width: 85px;
  }
  .apresen_tittle{
    font-size: var(--h3-font-size);
  }
  .apresen_des{
    font-size: var(--normal-font-size);
  }


  .popular_container{
    grid-template-columns: repeat(4, 230px);
    gap: 6.5rem 4rem;
    padding-block: 2rem;
  }
  .popular_card{
    padding: 9.5rem 1.25rem 1.25rem;
    border-radius: 2rem;
    border-radius: 6px;
  }
  .popular_img{
    width: 200px;
    top: -3.5rem;
  }
  .popular_title{
    font-size: var(--h2-font-size)
  }
  .popular_price{
    font-size: var(--h2-font-size)
  }
  .popular_bnt{
    font-size: 1.5rem;
    right: 1.25rem;
    bottom: 1.25rem;
  }
  .sobre_container{
    grid-template-columns: 440px 550px;
    column-gap: 3rem;
    align-items: center;

    padding-block: 1rem;
  }
  .sobre_container .section_title,
  .sobre_data{
    margin-bottom: 3.5rem;
    text-align: center;
  }
  .sobre_des{
    margin-bottom: 3.5rem;
  }
  .hosperdar_img{
    width: 550px;
    margin-top: -200px;
  }

  .concact{
    max-width: initial;
  }
  .concact_container{
    border-radius: 4rem;
    padding-block: 4rem 6.5rem;
  }
  .contact_contect{
    grid-template-columns: 430px 435px;
    justify-content: center;
    column-gap: 6.5rem;
  }
  .contact_data{
    grid-template-columns: repeat(2, max-content);
    text-align: initial;
    gap: 4.5rem 2rem;
    order: 1;
  }
  .concact_social{
    justify-content: initial;
  }
  .concact_title{
    margin-bottom: 1rem;
  }
  .contact_image{
    position: relative;
    width: 100%;
  }
  .contact_img{
    width: 430px;
    position: absolute;
    top: -2.5rem;
  }

  .footer{
    padding-block: 5rem 3rem;
  }
  .footer_container{
    row-gap: 3.5rem;
  }

  .footer_copy{
    margin-top: 4rem;
  }
  .footer_social{
    margin-top: -110px;
  }
  .footer_content {
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}
  .scrollup{
    right: 3rem;
  }
}










@media screen and (max-width: 1366px){
    .container{
        margin-inline: auto;
       }
    
       .section{
        padding-block: 7rem 2rem;
       }
    
       .section_title{
        margin-bottom: 4.5rem;
       }
       .sobre_container{ /*sobre container*/
        grid-template-columns: 360px;
        justify-content: center;
    }  
    
       .nav{
        height: calc(var(--header-height) + 2rem);
       }
       .nav_alterna,
       .nav-close{
        display: none;
       }
       .nav_list{
        flex-direction: row;
        column-gap: 4rem;
       }
    
    
       .home_container{
        grid-template-columns: 430px 605px;
        align-items: center;
        column-gap: 4rem;
        padding-block: 7rem 4rem;
       }
       .home_data{
        text-align: center;
       }
    
       .home_descri{
        margin-bottom: 2.5rem;
        padding-left: 2rem;
       }
    
       .imagem_site{
        width: 450px;
       }
    
       .cubo-desing{
        width: 100px;
       }
       .home_cubo-1{
        left: -2rem;
        top: 1.5rem;
       }
       .home_cubo-2{
        right: -1.5rem;
        bottom: -3rem;
       }
       .home_cubo-3{
        width: 70px;
        top: -1.5rem;
        right: 10rem;
       }
       .home_cubo-4{
        width: 70px;
        left: 9.5rem;
        bottom: -2.5rem;
       }
       .home_cubo-5{
        top: 4rem;
        right: -3.5rem;
       }
       .home_cubo-6{
        left: -3.5rem;
        bottom: 2rem;
       }
    
    
       .apresen_container{
        grid-template-columns: 350px 300px;
        column-gap: 8rem;
        padding-bottom: 3rem;
       }
       .apresentacao_img{
        left: 2rem;
        width: 620px;
      }
      .apresen_card{
        column-gap: 1rem;
      }
      .apresen_box{
        width: 90px;
        height: 90px;
        border-radius: 1.25rem;
        border-width: 5px;
      }
      .apresen_box img{
        width: 85px;
      }
      .apresen_tittle{
        font-size: var(--h3-font-size);
      }
      .apresen_des{
        font-size: var(--normal-font-size);
      }
    
    
      .popular_container{
        grid-template-columns: repeat(4, 230px);
        gap: 6.5rem 4rem;
        padding-block: 2rem;
      }
      .popular_card{
        padding: 9.5rem 1.25rem 1.25rem;
        border-radius: 2rem;
        border-radius: 6px;
      }
      .popular_img{
        width: 200px;
        top: -3.5rem;
      }
      .popular_title{
        font-size: var(--h2-font-size)
      }
      .popular_price{
        font-size: var(--h2-font-size)
      }
      .popular_bnt{
        font-size: 1.5rem;
        right: 1.25rem;
        bottom: 1.25rem;
      }
      .sobre_container{
        grid-template-columns: 440px 550px;
        column-gap: 3rem;
        align-items: center;
    
        padding-block: 1rem;
      }
      .sobre_container .section_title,
      .sobre_data{
        margin-bottom: 3.5rem;
        text-align: center;
      }
      .sobre_des{
        margin-bottom: 3.5rem;
      }
      .hosperdar_img{
        width: 550px;
        margin-top: -200px;
      }
    
      .concact{
        max-width: initial;
      }
      .concact_container{
        border-radius: 4rem;
        padding-block: 4rem 6.5rem;
      }
      .contact_contect{
        grid-template-columns: 430px 435px;
        justify-content: center;
        column-gap: 6.5rem;
      }
      .contact_data{
        grid-template-columns: repeat(2, max-content);
        text-align: initial;
        gap: 4.5rem 2rem;
        order: 1;
      }
      .concact_social{
        justify-content: initial;
      }
      .concact_title{
        margin-bottom: 1rem;
      }
      .contact_image{
        position: relative;
        width: 100%;
      }
      .contact_img{
        width: 430px;
        position: absolute;
        top: -2.5rem;
      }
    
      .footer{
        padding-block: 5rem 3rem;
      }
      .footer_container{
        row-gap: 3.5rem;
      }
    
      .footer_copy{
        margin-top: 4rem;
      }
      .footer_social{
        margin-top: -110px;
      }
      .footer_content {
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
    }
      .scrollup{
        right: 3rem;
      }
    }





















    @media screen and (max-width: 1980px){
      .container{
          margin-inline: auto;
         }
      
         .section{
          padding-block: 7rem 2rem;
         }
      
         .section_title{
          margin-bottom: 4.5rem;
         }
         .sobre_container{ /*sobre container*/
          grid-template-columns: 360px;
          justify-content: center;
      }  
      
         .nav{
          height: calc(var(--header-height) + 2rem);
         }
         .nav_alterna,
         .nav-close{
          display: none;
         }
         .nav_list{
          flex-direction: row;
          column-gap: 4rem;
         }
      
      
         .home_container{
          grid-template-columns: 430px 605px;
          align-items: center;
          column-gap: 4rem;
          padding-block: 7rem 4rem;
         }
         .home_data{
          text-align: center;
         }
      
         .home_descri{
          margin-bottom: 2.5rem;
          padding-left: 2rem;
         }
      
         .imagem_site{
          width: 450px;
         }
      
         .cubo-desing{
          width: 100px;
         }
         .home_cubo-1{
          left: -2rem;
          top: 1.5rem;
         }
         .home_cubo-2{
          right: -1.5rem;
          bottom: -3rem;
         }
         .home_cubo-3{
          width: 70px;
          top: -1.5rem;
          right: 10rem;
         }
         .home_cubo-4{
          width: 70px;
          left: 9.5rem;
          bottom: -2.5rem;
         }
         .home_cubo-5{
          top: 4rem;
          right: -3.5rem;
         }
         .home_cubo-6{
          left: -3.5rem;
          bottom: 2rem;
         }
      
      
         .apresen_container{
          grid-template-columns: 350px 300px;
          column-gap: 8rem;
          padding-bottom: 3rem;
         }
         .apresentacao_img{
          left: 2rem;
          width: 620px;
        }
        .apresen_card{
          column-gap: 1rem;
        }
        .apresen_box{
          width: 90px;
          height: 90px;
          border-radius: 1.25rem;
          border-width: 5px;
        }
        .apresen_box img{
          width: 85px;
        }
        .apresen_tittle{
          font-size: var(--h3-font-size);
        }
        .apresen_des{
          font-size: var(--normal-font-size);
        }
      
      
        .popular_container{
          grid-template-columns: repeat(4, 230px);
          gap: 6.5rem 4rem;
          padding-block: 2rem;
        }
        .popular_card{
          padding: 9.5rem 1.25rem 1.25rem;
          border-radius: 2rem;
          border-radius: 6px;
        }
        .popular_img{
          width: 200px;
          top: -3.5rem;
        }
        .popular_title{
          font-size: var(--h2-font-size)
        }
        .popular_price{
          font-size: var(--h2-font-size)
        }
        .popular_bnt{
          font-size: 1.5rem;
          right: 1.25rem;
          bottom: 1.25rem;
        }
        .sobre_container{
          grid-template-columns: 440px 550px;
          column-gap: 3rem;
          align-items: center;
      
          padding-block: 1rem;
        }
        .sobre_container .section_title,
        .sobre_data{
          margin-bottom: 3.5rem;
          text-align: center;
        }
        .sobre_des{
          margin-bottom: 3.5rem;
        }
        .hosperdar_img{
          width: 550px;
          margin-top: -200px;
        }
      
        .concact{
          max-width: initial;
        }
        .concact_container{
          border-radius: 4rem;
          padding-block: 4rem 6.5rem;
        }
        .contact_contect{
          grid-template-columns: 430px 435px;
          justify-content: center;
          column-gap: 6.5rem;
        }
        .contact_data{
          grid-template-columns: repeat(2, max-content);
          text-align: initial;
          gap: 4.5rem 2rem;
          order: 1;
        }
        .concact_social{
          justify-content: initial;
        }
        .concact_title{
          margin-bottom: 1rem;
        }
        .contact_image{
          position: relative;
          width: 100%;
        }
        .contact_img{
          width: 430px;
          position: absolute;
          top: -2.5rem;
        }
      
        .footer{
          padding-block: 5rem 3rem;
        }
        .footer_container{
          row-gap: 3.5rem;
        }
      
        .footer_copy{
          margin-top: 4rem;
        }
        .footer_social{
          margin-top: -110px;
        }
        .footer_content {
          grid-template-columns: repeat(1, 1fr);
          align-items: center;
      }
        .scrollup{
          right: 3rem;
        }
      }
  
  
  




















      /*========================LOGIN======================== */

 

    .login-section{
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
      background: var(--body-color);
      font-family: 'monserrat', sans-serif;
      min-height: 100%;
      margin: 10%;
    }


    .container-login{
       position: relative;
       width: 1268px;
       max-width: 100%;
       min-height: 580px;
       margin-top: -100px;
       background: white;
       border-radius: 10px;
       overflow: hidden;
       box-shadow: 0 14px 28px rgba(0, 0,0,.45),
                   0 10px 10px rgba(0, 0,0,.52);
               
    }

    .sing-up, .sing-in{
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      transition: all 0.6s ease-in-out;
    }
    .sing-in{
      width: 50%;
      opacity: 0;
      z-index: 1;
    }


    .sing-up{
      width: 50%;
      z-index: 2;
    }


    form{
      background: white;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 0 50px;
      height: 100%;
      text-align: center;
    }
 

    h1{
      font-weight: bold;
      margin: 0;

    }

    p{
      font-size: 14px;
      font-weight: 100;
      line-height: 20px;
      letter-spacing: 0.5px;
      margin: 15px 0 20px;
    }


    input{
      background: #eee;
      padding: 12px 15px;
      margin: 8px 15px;
      width: 100%;
      border-radius: 4px;
      border-radius: none;
      outline: none;
    }


    a{
      color: #333;
      font-size: 14px;
      text-decoration: none;
      margin: 15px 0;
    }


    button{
      color: white;
      background: var(--first-color);
      font-size: 12px;
      font-weight: bold;
      padding: 12px 55px;
      margin: 20px;
      border-radius: 20px;
      border: 1px solid var(--first-color);
      outline: none;
      letter-spacing: 1px;
      text-transform: uppercase;
      transition: transform 80ms ease-in;
      cursor: pointer;
    }


    button:active{
      transform: scale(0.90);
    }


    #singUp, #signIn{

      background-color: transparent;
      border: 2px solid #fff;
    }

    .container.right-panel-active .sing-up{
      
      transform: translateX(100%);
    }

    .container.right-panel-active .sing-in{
      
      transform: translateX(100%);
      opacity: 1;
      z-index: 5;
    }



    .overlay-container{
      position: absolute;
      top: 0;
      left: 50%;
      width: 50%;
      height: 100%;
      overflow: hidden;
      transition: transform 0.6s ease-in-out ;
      z-index: 100;
    }



    .container.right-panel-active .overlay-container{
      transform: translateX(-100%);
    }


    .overlay{
      position: relative;
      color: #fff;
      background: var(--first-color);
      left: -100%;
      height: 100%;
      width: 200%;
      background: linear-gradient(to right, var(--first-color), var(--first-color-alt));
      transition: transform 0.6s ease-in-out ;
      transform: translateY(0);
    }
    .container.right-panel-active .overlay{
      transform: translateX(50%)
    }

    .overlay-acess{
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 0 40px;
      text-align: center;
      top: 0;
      height: 100%;
      width: 50%;
      transition: transform 0.6s ease-in-out ;
    }


    .overlay-acess{
      right: 0;
      transform: translateX(0);
    }








